* {
	margin: 0;
}
@font-face {
    font-family: Poppins;
    src: url( 'fonts/poppins/Poppins-Regular.ttf' );	
}
@font-face {
    font-family: Sacramento;
    src: url( 'fonts/Sacramento-Regular.ttf' );	
}
@font-face {
    font-family: LibreBaskerville;
    src: url( 'fonts/libre-baskerville/LibreBaskerville-Regular.otf' );	
}
@font-face {
    font-family: MyriadPro;
    src: url( 'fonts/myriadpro-regular.ttf' );	
}
/*Common section---------------------------------------------------------------------------------------------------------*/
.section-inner-div {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.clearFloat {
	clear: both;
}
.relativeBlock {
	position: relative;
}
.left-text {
	text-align: left;
}
.greenColor {
	color: rgb( 54, 219, 161 );
}
.purpurColor {
	color: rgb( 153, 108, 213 );
}
.orangeColor {
	color: rgb( 234, 93, 84 );
}
.yellowColor {
	color: rgb( 247, 185, 108 );
}
.greenBColor {
	border-color: rgb( 54, 219, 161 );
}
.purpurBColor {
	border-color: rgb( 153, 108, 213 );
}
.orangeBColor {
	border-color: rgb( 234, 93, 84 );
}
.yellowBColor {
	border-color: rgb( 247, 185, 108 );
}
.zero-font {
	font-size: 0;
}

.section-title {
	padding-top: 135px;
	font-size: 50px;
	font-family: "LibreBaskerville";
	font-weight: bold;
	color: rgb( 50, 50, 50 );
}
.section-title2 {
	margin-top: 20px;
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	margin-bottom: 70px;
	padding: 0 10px;
}
/*Header section---------------------------------------------------------------------------------------------------------*/
#logo {
	float: left;
	margin-left: 28px;
	margin-top: 23px;
}
#topDiv nav img {
	max-width: 48px;
	margin-top: 5px;
	display: none;
}
#topDiv {
	overflow: show;
}
#topDiv nav ul {
	list-style: none;
	float: right;
	margin-right: 23px;
}
#topDiv nav ul li {
	float: left;
}
#topDiv nav ul li a {
	font-size: 14px;
	font-family: "Poppins";
	font-weight: bold;
	text-decoration: none;
	padding: 24px 10px 25px 10px;
	color: rgb( 40, 40, 40 );
	cursor: pointer;
	transition: background-color .5s, color .4s, border-color .5s;
	display: inline-block;
	border-bottom: 3px solid transparent;
}
#topDiv nav ul li a:hover {
	color: rgb( 234, 93, 84 );
	border-bottom: 3px solid rgb( 234, 93, 84 );
}	
#menuWrapper {
	display: inline-block;
	float: right;
}
#mainHeader {
	background-repeat: no-repeat;
	background-image: url( 'img/background image.jpg' );
	background-position: center top;	
	background-size: 100% 100%;
	overflow: auto;
}
.header-text {
 	font-size: 60px;
 	font-family: "LibreBaskerville";
 	color: rgb( 255, 255, 250 );
 	margin-top: 13.55%;
 	line-height: 142%;
}	
#mainHeader button {
	font-size: 16px;
	font-family: "Poppins";
	color: white;
	background-color: rgb(252, 95, 69);
	margin: 43px auto 6.9%;
	border: none;
	padding: 12px 44px 11px 43px;
	border-radius: 25px;
	transition: color .5s, background-color .5s, box-shadow .5s;
	cursor: pointer;
	font-weight: bold;
	outline:  none;
}
#mainHeader button:hover {
	box-shadow: 0 1px 4px 4px white;
}	
#headerFlex {
	display: -moz-box;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 68%;
}
#headerFlex div {
	font-size: 18px;
	font-family: "Poppins";
	width: calc(100%/3);
}
#headerFlex img {
	margin-bottom: 22px;
}
#mainHeader .section-inner-div {
	padding-bottom: 8.8%;
}

/*About us section ---------------------------------------------------------------------------------------------------------*/
#aboutUs>div>img {
	margin: 12.45% 0% 12.5% 2.4%;
}
.about-us-right {
	position: absolute;
	top: 22.4%;
	left: 43%;
	width: 54.5%;
	background-color: white;
	box-shadow: 3px -3px 3px 3px rgb( 250, 250, 250 );
	padding-top: 88px;
	letter-spacing: 1px;
	background-image: url( 'img/01.png' );
	background-repeat: no-repeat;
	background-position: 5px 5px;

	border-image: url( 'img/lines.png' ) 10 stretch;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid;

}
.about-us-right div:first-child {
	padding-left: 13%;
	font-size: 50px;
	font-family: "LibreBaskerville";
	color: rgb(49, 49, 49);
	font-weight: bold;
}
.about-us-right div:nth-child( 2 ) {
	padding: 4% 1% 15.5% 13%;
	font-size: 16px;
	font-family: "MyriadPro";
	color: rgb(97, 97, 97);
	line-height: 174%;
}




/*Servives section ---------------------------------------------------------------------------------------------------------*/
#services {
	background-image: url( 'img/02.png' );
	background-repeat: no-repeat;
	background-position: center top;
	background-color: rgb(247, 247, 247);
	text-align: center;
}
#serviceFlex {
	display: flex;
	justify-content: center;
	margin-bottom: 12.5%;
}
#serviceFlex>div {
	background-color: white;
	margin: 0% 12px;
	width: 20%;
	padding: 59px 11px;
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.667;
	transition: box-shadow .5s;
}	
#serviceFlex>div:hover {
	box-shadow: 0 0 5px 5px rgb( 220, 220, 220 );
	cursor: pointer;
}
#serviceFlex>div:nth-child(1) {
	border-bottom: 3px solid rgb( 234, 93, 84 );
}
#serviceFlex>div:nth-child(2) {
	border-bottom: 3px solid rgb( 54, 219, 161 );
}
#serviceFlex>div:nth-child(3) {
	border-bottom: 3px solid rgb( 153, 108, 213 );
}
#serviceFlex>div:nth-child(4) {
	border-bottom: 3px solid rgb( 247, 185, 108 );
}
#serviceFlex>div:nth-child(1) div:before {
	content: url( 'img/focus-img1.png' );
	position: absolute;
	top: 70px;
	left: 44%;
}	
#serviceFlex>div:nth-child(2) div:before {
	content: url( 'img/focus-img2.png' );
	position: absolute;
	top: 65px;
	left: 41%;
}	
#serviceFlex>div:nth-child(3) div:before {
	content: url( 'img/focus-img3.png' );
	position: absolute;
	top: 69px;
	left: 38%;
}	
#serviceFlex>div:nth-child(4) div:before {
	content: url( 'img/focus-img4.png' );
	position: absolute;
	top: 71px;
	left: 37%;
}	
#serviceFlex>div>div {
	font-size: 20px;
	font-family: "Poppins";
	color: rgb(49, 49, 49);
	padding-top: 73px;
	padding-bottom: 22px;
	font-weight: bold;
}
.videoBox {	
	color: white;
}
.videoBox>div:nth-child(2) {
	font-size: 30px;
	font-family: "Poppins";
	padding-top: 7.2%;
	padding-bottom: 1.4%;
	z-index: 1;
}	
.videoBox div:last-child {
	font-family: "Poppins";
	font-size: 15px;
	margin-top: 1.6%;
	padding-bottom: 7.8%;
	z-index: 1;
	transition: text-decoration .5s;
}
#videoContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
}
#videoContainer video {
	width: 100%;	
	margin: auto;
	transform: scaleX(2.13);
}
#playButton {
	border-radius: 50%;
	transition: box-shadow .5s; 
	cursor: pointer;
}	
#playButton:hover {
	box-shadow: 0 0 3px 3px rgb( 54, 219, 161 );
}
#playCaption:hover {
	text-decoration: underline;
	cursor: pointer;
}



/*Portfolio section ---------------------------------------------------------------------------------------------------------*/	
#portfolio {
	background-image: url( 'img/03.png' );
	background-repeat: no-repeat;
	background-position: center top;
}
#portfolioBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10.5%;
}
#portfolioBox>div {
	margin: 10px;
	padding: 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
}
#portfolioBox>div>div:first-child img {
	max-width: 100%;
	transition: opacity .5s;
}
.cirlce-plus {
	font-size: 65px;
	color: rgb( 243, 249, 245 );
	border: 1px solid rgb( 243, 249, 245 );
	position: absolute;
	top: 29.5%;
	left: 42.5%;
	border-radius: 28px;
	width: 56px;
	height: 56px;
	line-height: 89%;
	opacity: 0;
	transition: opacity 1s;
}
.portfolio-pop-up {
	transition: top .5s;
	position: absolute;
	top: 100%;
	background-color: white;
	font-family: "Poppins";
	font-size: 20px;
	width: calc(100% - 10px);
	border-image: url( 'img/lines.png' ) 10 stretch;
	border-top: 3px solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.portfolio-pop-up div:last-child {
	margin-top: 6%;
	margin-bottom: 6%;
}
#portfolioBox>div:hover {
	box-shadow: 0 0 2px 2px rgb( 240, 240, 240 );
}
#portfolioBox>div:hover .portfolio-pop-up {
	top: calc( 88% - 42px);
}
#portfolioBox>div:hover .cirlce-plus {
	opacity: 1;
}
#portfolioBox>div:hover>div:first-child {
	background-color: rgb( 50, 50, 50 );
}
#portfolioBox>div>div:first-child img {
	transition: opacity .5s;
}
#portfolioBox>div:hover>div:first-child img {
	opacity: .7;
}



/*Team section ---------------------------------------------------------------------------------------------------------*/	
#team {
	background-color: rgb(247, 247, 247);
	background-image: url( 'img/04.png' );
	background-position: center top;
	background-repeat: no-repeat;	
	overflow: auto;
}
#teamGroup {
	display: flex;
	justify-content:  center;
}
#teamGroup>div {
	padding: 4px;
	margin: 0 1.3%;
	background-color: white;
	width: 21.65%;
	box-sizing: border-box;
	transition: box-shadow .5s;
}
#teamGroup>div:hover {
	box-shadow:  0 0 4px 4px rgb( 200, 200, 200 );
	cursor: pointer;
}

#teamGroup>div img {
	max-width: 100%;
	max-height: 100%;
}
#teamGroup>div:nth-child(1) {
	border-bottom: 3px solid rgb( 234, 93, 84 );
}
#teamGroup>div:nth-child(2) {
	border-bottom: 3px solid rgb( 54, 219, 161 );
}
#teamGroup>div:nth-child(3) {
	border-bottom: 3px solid rgb( 153, 108, 213 );
}
#teamGroup>div:nth-child(4) {
	border-bottom: 3px solid rgb( 247, 185, 108 );
}

.team-block-title {
	font-size: 22px;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: bold;
	padding-top: 19px;
}
.team-block-text {
	font-size: 15px;
	font-family: "Poppins";
	font-size: 13px;
}
.team-links {
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.2;
}
.team-detail {
	width: 94.4%;
	background-color: white;
	margin: 0% auto 9.9%;
	font-size: 15px;
	font-family: "Poppins";
	padding: 6% 0 7% 7.5%;
	box-sizing: border-box;
}
.team-detail>div:first-child {
	font-size: 21px;
	font-weight: bold;
}
.team-detail>div:nth-child(2) {
	display: inline-block;
	width: 78.5%;
	line-height: 235%;
	margin-top: 1%;
	padding-right: 22%;
	box-sizing: border-box;
	border-right: 2px solid rgb( 238, 238, 238 );
}
.team-detail>div:nth-child(2) img {
	float: right;
}
.team-detail>div:nth-child(3) {
	display: inline-block;
	width: 21%;
	font-size: 15px;
	color: rgb(97, 97, 97);
	vertical-align: top;
	padding-top: 3.7%;
	line-height: 205%;
	padding-left: 1.9%;
	box-sizing:  border-box;
}
.team-detail>div:nth-child(3):after {
	content: url('img/links.png');
	position: absolute;
	top: 50%;
	left: -35%;
}
.team-detail>div:nth-child(3) a {
	cursor: pointer;
	text-decoration: none;
}
.team-detail>div:nth-child(3) a:hover span {
	text-decoration: underline;
}
.team-detail>div:nth-child(3) span {
	vertical-align: text-bottom;
}
.arrowDiv {
	margin-top: 0%;
	width: 0;
	height: 0;
	border: 32px solid transparent;
	border-bottom-color: white;
	margin-left: 11%;
}

.team-detail a span {
	color: rgb( 97, 97, 97 );
}



/*Team section ---------------------------------------------------------------------------------------------------------*/	
#stats {
	background-image: url( 'img/Statsbg.png' );
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 100%;
	overflow: auto;
}
#statsFlex {
	display: flex;
	justify-content: center;
}
#statsFlex>div{
	width: 20%;
	margin: 0 2.2%;
}	
.stats-title {
	font-size: 20px;
	font-family: "Poppins";
	color: rgb(254, 254, 254);
	position: relative;
}
.stats-text {
	font-size: 15px;
	font-family: "Poppins";
	color: rgba(254, 254, 254, 0.702);
}
.circle-dot {
	border: 2px solid;
	width: 13px;
	height: 13px;
	font-size: 35px;
	
	border-radius: 50%;
	line-height: 14px;
}
#statsFlex {
	margin-top: 18.1%;
	margin-bottom: 8%;
}
#statsFlex>div .circle-dot {
	margin: 14.4% auto;
}
#statsFlex>div>div {
	margin-bottom: 5%;
}
#statsFlex>div:nth-child(1)>div:first-child:before {
	content: url( 'img/stats1.png' );
	position: absolute;
	top: -209%;
	left: calc( 50% - 25px );
}	
#statsFlex>div:nth-child(2) div:before {
	content: url( 'img/stats2.png' );
	position: absolute;
	top: -218%;
	left: calc( 50% - 25px );
}	
#statsFlex>div:nth-child(3) div:before {
	content: url( 'img/stats3.png' );
	position: absolute;
	top: -205%;
	left: calc( 50% - 25px );
}	
#statsFlex>div:nth-child(4) div:before {
	content: url( 'img/stats4.png' );
	position: absolute;
	top: -212%;
	left: calc( 50% - 25px );
}	



/*Work section ---------------------------------------------------------------------------------------------------------*/	
#workSteps {
	background-image: url( 'img/05.png' );
	background-repeat: no-repeat;
	background-position: center top;
}
.work-step {
	text-align: center;
	font-size: 0px;
}
.work-step-info {
	width: 38%;
	position: absolute;
	left: 38px;
	top: -51px;
	background-color: white;
	box-shadow:  2px -2px 2px 2px rgb( 220, 220, 220 );
}
.work-step:nth-of-type(2n) .work-step-info {
	left: 59%;
}	
.inner-text {
	font-size: 15px;
	margin-left: 22.3%;
	text-align: left;
	font-family: 'Poppins';
	padding: 70px 49px 45px 25px;
	width: 67%;
	line-height: 180%;
}	
.inner-text div {
	font-size: 25px;
	padding-bottom: 19px;
}	
.work-step:nth-child( 3 ) {
	margin-top: 10.4%;
}
.work-step:nth-child( 6 ) {
	margin-bottom: 12.9%;
}
.work-step:nth-child( 3 ) .work-step-info {
	border-bottom: 3px solid rgb( 234, 93, 84 );
	box-shadow: -2 -2 2px 2px rgb( 220, 220, 220 );
}	
.work-step:nth-child( 4 ) .work-step-info {
	
	border-bottom: 3px solid rgb( 54, 219, 161 );
}	
.work-step:nth-child( 5 ) .work-step-info {
	border-bottom: 3px solid rgb( 153, 108, 213 );
	box-shadow: -2px -2px 2px 2px rgb( 220, 220, 220 );
}	
.work-step:nth-child( 6 ) .work-step-info {
	border-bottom: 3px solid rgb( 247, 185, 108 );
}	
.work-step .work-step-info img {
	float: left;
	margin: 40px 0 0 32px;
}


/*Pirce section ---------------------------------------------------------------------------------------------------------*/	
#pricing {
	background-image: url( 'img/06.png' );
	background-repeat: no-repeat;
	background-position: center top;
	background-color: rgb( 247, 247, 247 );
	padding-bottom: 8.75%;
}
.price-block {
	display: inline-block;
	margin: 0% 1%;
	background-color: white;
	width: 30.2%;
}
#pricing>div>div:nth-child(3) {
	border-top: 3px solid rgb( 54, 219, 161 );
}
#pricing>div>div:nth-child(4) {
	border-top: 3px solid rgb( 234, 93, 84 );
}
#pricing>div>div:nth-child(5) {
	border-top: 3px solid rgb( 153, 108, 213 );
}
.price-block-header {
	font-size: 20px;
	font-family: 'Poppins';
	font-weight: bold;
	padding-top: 27px;
}	
.price-block-month {
	padding-top: 47px;
	color: white;
	font-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Poppins';
}
.price-block-month div {
	font-size: 13px;
	margin-top: -6px;
	padding-bottom: 31px;
}	
.price-block:nth-of-type(3n) .price-block-month {
	background-image: url( 'img/bgGreen.png' );
	background-position: 49% 103%;
}	
.price-block:nth-of-type(4n) .price-block-month {
	background-image: url( 'img/bgRed.png' );
	background-position: 49% 100%;
}	
.price-block:nth-of-type(5n) .price-block-month {
	background-image: url( 'img/bgP.png' );
	background-position: 50% 100%;
}	
.price-block-text {
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
	margin-top: 27px;
	line-height: 272%;
}
.price-block button {
	font-size: 16px;
	font-family: "Poppins";
	margin: 24px auto;
	outline: none;
	background-color: white;
	padding: 10px 37px 11px 37px;
	font-weight: bold;
	border-radius: 28px;
	border-style: solid;
}

#pricing button {
	transition: color .5s, background-color .5s;
	cursor: pointer;
}
#pricing .price-block:nth-child(3) button:hover {
	color: white;
	background-color: rgb( 54, 219, 161 );
}
#pricing .price-block:nth-child(4) button:hover {
	color: white;
	background-color: rgb( 234, 93, 84 );
}
#pricing .price-block:nth-child(5) button:hover {
	color: white;
	background-color: rgb( 153, 108, 213 );
}



/*Testimonials section ---------------------------------------------------------------------------------------------------------*/	
#testi {
	background-image: url( 'img/07.png' ),url( 'img/testi_backgorund.jpg' );
	background-repeat:  no-repeat;
	background-position: center top;
	background-size: auto, 100% 100%;
}
#testi .section-title {
	color: white;
}	
#testi .section-title2 {
	color: white;
}	
#testiInnerblock {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 13.5%;
	padding-left: 2.3%;
	overflow: auto;
	box-sizing: border-box;
}
#testiInnerblock img {
	float: left;
}
.testimonials-text {
	margin-top: 3.5%;
	background-image: url( 'img/”.png' );
	display: inline-block;
	vertical-align: top;
	width: 56.5%;
	text-align: left;
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.8;
	background-color:  white;
	padding: 35px 24px 29px 55px;
	background-repeat: no-repeat;
	background-position: 15px 0;
	border-bottom: 3px solid rgb( 234, 93, 84 );
}
.testimonials-client {
	font-size: 40px;
	font-family: "Sacramento";
	color: rgb(39, 39, 39);
	padding-top: 21px;
	line-height: 164%;
}
.testimonials-name {
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(39, 39, 39);
    font-weight: bold;
}
.testimonials-founder {
	font-size: 13px;
	font-family: "Poppins";
	color: rgb(252, 95, 69);
}
#dotBar {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-right: 4.9%;
	margin-top: 1.5%;
}
#dotBar .circle-dot {
	color: transparent;
	border-color: white;
	display: inline-block;
	transition: color 1s, border-color .5s;
	cursor: pointer;
	margin: 2px;
	border-width: 2px;
}
#dotBar .circle-dot:hover {
	color: rgb( 234, 93, 84 );
	border-color: rgb( 234, 93, 84 );
}



/*Select us section ---------------------------------------------------------------------------------------------------------*/	
#selectUs {
	background-image: url( 'img/08.png' );
	background-repeat: no-repeat;
	background-position: center top;	
}
#selectFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 6.5% 0% 6%;
}
#selectFlex>div {
	width: 28%;
	text-align: left;
	font-size: 15px;
	font-family: "Poppins";
	margin: 0 1.9% 6%;
}

#selectFlex>div img {
	float: left;
	margin-right: 4%;
}
#selectFlex>div span {
	vertical-align: top;
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
}
#selectFlex>div>div {
	line-height: 175%;
	margin-top: 8%;
}
#selectUs footer div {
	display: inline-block;
	font-size: 25px;
	font-family: "Poppins";
	margin-right: 1.5%;
}
#selectUs footer {
    padding-bottom: 14%;
}
#selectUs footer button {
	font-size: 16px;
	font-family: "Poppins";
	outline: none;
	background-color: white;
	padding: 10px 37px 11px 37px;
	font-weight: bold;
	border-radius: 28px;
	border-style: solid;
	transition: color .5s, background-color .5s;
	cursor: pointer;
	color: rgb( 234, 93, 84 );
	border: 2px solid rgb( 234, 93, 84 );
}
#selectUs footer button:hover {
	color: white;
	background-color: rgb( 234, 93, 84 );
}




/*Blog section ---------------------------------------------------------------------------------------------------------*/	
#blog {
	background-image: url( 'img/09.png' );
	background-repeat: no-repeat;
	background-position: center top;		
	background-color: rgb( 245, 245, 245 );
}
#blogFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	height: 675px;
	margin-bottom: 5%;
	align-content: center;
}
#blogFlex>div {
	width: 46.3%;
	box-sizing: border-box;
	background-color:  white;	
}
#blogFlex>div:nth-child(1), #blogFlex>div:nth-child(2) {
	margin-right: 3%;
}	
#blogFlex>div:nth-child(2)>div:first-child {
	font-size: 20px;
}
#blogFlex>div:nth-child(2) {
	padding: 2% 4.2% 2%;
}
#blogFlex .blog-secondColumn {
	padding: 2.5% 3% .9%;
}
#blogFlex>div:nth-child( 4 ), #blogFlex>div:nth-child( 5 ) {
}
#blogFlex>div:nth-child( 3 ) {
	margin-top: 0;	
}
.blog-article-header {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
}
.blog-article-text {
	font-size: 15px;
	font-family: "Poppins";
	padding-top: 20px;
	padding-bottom: 16px;
}
.blog-author {
	font-size: 15px;
	font-family: "Poppins";
}
.blog-date {
	font-size: 13px;
	font-family: "Poppins";
}
#blogFlex>div:nth-child( 2 ) {
	border-bottom: 3px solid rgb( 234, 93, 84 );	
}	
#blogFlex>div:nth-child( 2 )>div:last-child span {
	font-weight: bold;
}	
#blogFlex>div:nth-child( 3 ) {
	border-bottom: 3px solid rgb( 54, 219, 161 );
}	
#blogFlex>div:nth-child( 4 ) {
	border-bottom: 3px solid rgb( 153, 108, 213 );
}	
#blogFlex>div:nth-child( 5 ) {
	border-bottom: 3px solid rgb( 247, 185, 108 );
}	
#blogFlex>div>div:last-child span {
	cursor: pointer;	
}	
#blogFlex>div>div:last-child span:hover {
	text-decoration: underline;
}	
#blogFooter {
	padding-top: 5.5%;
}
#subscribe {
	text-align: center;
}
#subscribeHeader {
	font-size: 30px;
	font-family: "Poppins";
	color: rgb(38, 38, 38);
	margin-top: 11.5%;
}
#subscribe form {
	padding-bottom: 12.8%;
	padding-top: 3%;
}
#subscribe form input[type=email] {
	font-size: 16px;
	font-family: "Poppins";
	color: rgb( 40, 40, 40 );
	background-color: rgb( 247, 247, 247 );
	border: none;
	padding: 10px 5% 10px 28px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	transition: color .5s, background-color .5s;
	outline: none;
	margin-right: -5px;
	border: 2px solid rgb( 239, 239, 239 );
}	
#subscribe form input[type=submit] {
	font-size: 16px;
	font-family: "Poppins";
	color: white;
	background-color: rgb(252, 95, 69);
	border: none;
	padding: 12px 26px 11px 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	transition: color .5s, background-color .5s, opacity .5s;
	cursor: pointer;
	font-weight: bold;
	opacity: .7;
	outline: none;
}

#subscribe form input[type=submit]:hover {
	opacity: 1;	
}	

/*Blog section ---------------------------------------------------------------------------------------------------------*/	
#contact {
	background-image: url( 'img/10.png' ), url( 'img/forest.png' );
	background-repeat:  no-repeat;
	background-position: center top;
	background-size: auto, 100% 100%;
}
#contact form {
	width: 70%;
	margin: 0 auto;
	text-align: left;
	padding-top: .5%;
	box-sizing: border-box;
}
#contact form textarea, #contact form input {
	background-color: white;
	padding: 12px;
	box-sizing: border-box;
	font-size: 18px;
	border-radius: 3px;
	border: 1px solid rgb(240, 240, 230);
	margin-bottom: 27px;
	text-align: center;
}
#contact form input {
	width: 49.2%;
}	
#contact .right-side-field {
	float: right;
}
#contact form textarea {
	width: 100%;
	padding-bottom: 4%;
}
#contact form div {
	text-align: center;
}
#contact address {
	background-color: rgba( 64, 64, 74, 0.85 );
	margin: 12.4% auto 0;
	border-image: url( 'img/lines.png' ) 10 stretch;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid;
	display: flex;
	font-size: 15px;
	font-family: "Poppins";
	text-decoration: none;
	width: 95%;
	font-style: normal;
}
#contact address>div {
	text-align: left;
	width: calc( 100% / 4 );
	vertical-align: top;
	padding: 59px 45px 54px;
	box-sizing: border-box;
}
#contact address>div>div {
	margin-top: 15%;
	color: rgb( 210, 208, 213 );
}	
#contact address span {
	font-size: 18px;
	padding-bottom: 13%;
}
#contact address>div:first-child img {
	margin: 18% 11%;
	width: 63%;
}
#contact address>div:last-child {
	padding-left: 4.5%;
}
#contact address>div:last-child img {
	padding: 5px 2.2%;
	width: 31px;
	height: 31px;
	transition: background-color .5s;
	cursor: pointer;
	border-radius: 3px;
}
#contact address>div:last-child img:hover {	
	background-color: rgb( 251, 96, 68 );	
}
#contact .section-inner-div {
	padding-bottom: 7%;
}
#contact button {
	font-size: 16px;
	font-family: "Poppins";
	color: white;
	background-color: rgb(252, 95, 69);
	margin: 2% auto 0;
	border: none;
	padding: 12px 44px 11px 43px;
	border-radius: 25px;
	transition: color .5s, background-color .5s, box-shadow .5s;
	cursor: pointer;
	font-weight: bold;
	outline: none;
}
#contact button:hover {
	box-shadow: 0 0 4px 4px white;
}	
