* {
	margin: 0;
}
.sectionArea {
	max-width: 1200px;
	margin: 0 auto;
	border: 1px solid black;
	text-align: center;
}
.clearFloat {
	clear: both;
}
.relativeBlock {
	position: relative;
}
.greyBG {
	background-image: url( 'img/background image.png' );
}
.lightGrey {
	background-color: rgb(247, 247, 247);
}
#mainHeader {	
	border :1px solid red;
}
.header-nav {
	font-size: 14px;
 	font-family: "Poppins";
}
.header-nav ul {
	list-style: none;
}
.header-nav ul li {
	float: left;
	pad
}
#mainHeader+span {
 	font-size: 60px;
  	font-family: "LibreBaskerville";
  	margin: 0 auto;
  	color: white;
}	
#mainHeader button {
	font-size: 16px;
  	font-family: "Poppins";
  	color: white;
  	background-color: rgb(252, 95, 69);
  	margin: 0 auto;
}
.header-img-1:before {
 	content: url('img/header1.png');
}
.header-img-2:before {
 	content: url('img/header2.png');
}
.header-img-3:before {
 	content: url('img/header3.png');
}
#section2LeftImage {
	margin: 30px 0 30px 0;
}
.about-us-right {
	position: absolute;
	top: 100px;
	left: 400px;
	width: 600px;
	border: 1px solid red;
}
.about-us-right div:first-child {
	font-size: 50px;
	font-family: "LibreBaskerville";
	color: rgb(49, 49, 49);
	font-weight: bold;
}
.about-us-right div:nth-child( 2 ) {
	font-size: 15px;
	font-family: "Myriad Pro";
	color: rgb(97, 97, 97);
}
.about-us-right img {
	width: 100%;
}
.services {
  background-color: rgb(247, 247, 247);
  text-align: center;
}
.services-title {
	font-size: 50px;
	font-family: "LibreBaskerville";	
}
.services-title2 {
      font-size: 18px;
      font-family: "Poppins";
      color: rgb(97, 97, 97);
}
.serviceBlock {
  text-align: center;
  display: inline-block;
  width: 250px;
}	
.serviceBlock div:first-child {
	font-size: 20px;
	font-family: "Poppins";
	color: rgb(49, 49, 49);
}
.serviceBlock div:nth-child( 2 ) {
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.667;
}
.portfolio {
	text-align: center;	
}
.portfolio-title {
	font-size: 50px;
	font-family: "LibreBaskerville";	
}
.portfolio-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
}
.team {
	background-color: rgb(247, 247, 247);
	text-align: center;
}
.team-block {
	display: inline-block;
}
.team-title {
      font-size: 50px;
      font-family: "LibreBaskerville";
}
.team-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
}
.team-block-title {
	font-size: 20px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
}
.team-block-text {
	font-size: 15px;
	font-family: "Poppins";
}
.team-links {
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.2;
}
.stats {
	text-align: center;
}
.stats-block {
	display: inline-block;
	text-align: center;
}
.stats-title {
      font-size: 20px;
      font-family: "Poppins";
      color: rgb(254, 254, 254);
}
.stats-text {
	font-size: 15px;
	font-family: "Poppins";
	color: rgba(254, 254, 254, 0.702);
}
.work-title {
	font-size: 50px;
	font-family: "LibreBaskerville";
	text-align: center;
}
.work-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	text-align: center;
}
.work-step {
	text-align: center;
	font-size: 0px;
}
.work-step-info {
	width: 400px;	
	border: 1px solid grey;
	position: absolute;
	left: 10px;
	top: -10px;	
}
.work-step:nth-of-type(2n) .work-step-info {
	left: 700px;
}	
.inner-text {
	font-size: initial;
	margin-left: 100px;
	border: 1px solid black;
	text-align: left;
}	
.work-step-info img:first-child {
	margin: 10px 0 0 10px;
	float: left;
}	
.work-step div img:last-child {
	width: 100%;	
}
.price-block-title {
	font-size: 50px;
	font-family: "LibreBaskerville";
}
.price-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	text-align: center;
}
.price-block {
	width: 250px;
	display: inline-block;
	border: 1px solid rgb( 200, 200, 200 );
}
.price-block img:first-child {
	width: 100%;
}	
.price-block-month {
	padding: 50px;
	color: white;	
	background-repeat: no-repeat;
	background-position: center;
}
.price-block:nth-of-type(3n) .price-block-month {
	background-image: url( 'img/bgGreen.png' );
}	
.price-block:nth-of-type(4n) .price-block-month {
	background-image: url( 'img/bgRed.png' );
}	
.price-block:nth-of-type(5n) .price-block-month {
	background-image: url( 'img/bgP.png' );
}	
.price-block-text {
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);	
}
.price-block button {
	font-size: 16px;
	font-family: "Poppins";
	color: rgb(56, 198, 149);
	margin: 0 auto;
}
.testi-block-title {
	font-size: 50px;
	font-family: "LibreBaskerville";
}
.testi-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);	
}
.testimonials-text {	
	margin-top: 30px;
	background-image: url( 'img/”.png' );
	display: inline-block;	
	vertical-align: top;
	width: 800px;
	border: 1px solid grey;
	text-align: left;
	font-size: 15px;	
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.8;
}
.testimonials-client {
	font-size: 40px;
	font-family: "Sacramento";
	color: rgb(39, 39, 39);
}
.testimonials-name {
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(39, 39, 39);
    line-height: 4.444;
}
.testimonials-founder {
	font-size: 13px;
	font-family: "Poppins";
	color: rgb(252, 95, 69);
	line-height: 6.154;
}
.selectUs-block-title {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
}
.selectUs-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);	
}
.selectUs-block {
	border: 1px solid grey;
	width: 300px;
	text-align: left;
	display: inline-block;
	padding: 15px 0 0 15px;
}
.selectUs-block img {
	float: left;
}
.selectUs-block span {
	vertical-align: top;	
	font-weight: bold;
}
.selectUs-block div {
	clear: both;
}
.blog-block-title {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);	
}
.blog-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);	
}
.blog-group {
	columns: 2;
}
.blog-box {
	text-align: left;
	padding: 35px;
}
.blog-box img {
	width: 100%;
	height: 3px;
}
.blog-article-header {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
}
.blog-article-header {
	font-size: 15px;
	font-family: "Poppins";
}
.blog-author {
	font-size: 15px;
	font-family: "Poppins";
}
.blog-date {
	font-size: 13px;
	font-family: "Poppins";
}
.subscribe form input:last-child {
	text-align: center;
}
.contact form {
	width: 700px;
	margin: 0 auto;
}
.contact form input:last-child {
	text-align: center;
}
.contact address {
	background-color: rgb( 64, 64, 74 );
	border: 1px solid red;
	width: 1000px;
	margin: 0 auto;
	font-size: 0;
}
.adrress-box {
	text-align: left;
	display: inline-block;	
	width: 24.5%;
	border: 1px solid white;
	vertical-align: top;
	font-size: initial;
}
.adrress-box img {
	clear: both;
}	
.contact address img:last-image {
	width: 1000px;
	height: 3px;
}