* {
	margin: 0;
}
@font-face {
    font-family: Poppins;
    src: url( 'fonts/poppins/Poppins-Regular.ttf' );	
}
@font-face {
    font-family: Sacramento;
    src: url( 'fonts/Sacramento-Regular.ttf' );	
}
@font-face {
    font-family: LibreBaskerville;
    src: url( 'fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf' );	
}
@font-face {
    font-family: MyriadPro;
    src: url( 'fonts/myriadpro-regular.ttf' );	
}
/*Common section---------------------------------------------------------------------------------------------------------*/
.section-inner-div {	
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.clearFloat {
	clear: both;
}
.relativeBlock {
	position: relative;
}
.left-text {
	text-align: left;
}
.greyBG {
	background-image: url( 'img/background image.png' );
}
.lightGrey {
	background-color: rgb(247, 247, 247);
}
.greenColor {
	color: rgb( 54, 219, 161 );
}
.purpurColor {
	color: rgb( 153, 108, 213 );
}
.orangeColor {
	color: rgb( 234, 93, 84 );
}
.yellowColor {
	color: rgb( 247, 185, 108 );
}
.greenBColor {
	border-color: rgb( 54, 219, 161 );
}
.purpurBColor {
	border-color: rgb( 153, 108, 213 );
}
.orangeBColor {
	border-color: rgb( 234, 93, 84 );
}
.yellowBColor {
	border-color: rgb( 247, 185, 108 );
}
.zero-font {
	font-size: 0;
}
/*Header section---------------------------------------------------------------------------------------------------------*/
#mainHeader {
	background-repeat: no-repeat;
	background-image: url( 'img/background image.jpg' );
	background-position: 0 75px;
	overflow: auto;
}
#logo {
	float: left;
	margin-left: 28px;
	margin-top: 23px;
}
#mainHeader nav {
}
#mainHeader nav ul {
	list-style: none;
	float: right;
	margin-right: 23px;
}
#mainHeader nav ul li {
	float: left;
}
#mainHeader nav ul li a {
	font-size: 14px;
	font-family: "Poppins";
	font-weight: bold;
	text-decoration: none;
	padding: 24px 10px 28px 10px;
	color: rgb( 40, 40, 40 );
	cursor: pointer;
	transition: background-color .5s;
	display: inline-block;
}
#mainHeader nav ul li a:hover {
	background-color: rgb( 200, 200, 200 );
}	
.header-text {
 	font-size: 60px;
 	font-family: "LibreBaskerville";
 	color: rgb( 255, 255, 250 );
 	margin-top: 162px;
 	line-height: 142%;
}	
#mainHeader button {
	font-size: 16px;
	font-family: "Poppins";
	color: white;
	background-color: rgb(252, 95, 69);
	margin-top: 43px;
	border: none;
	padding: 12px 44px 11px 43px;
	border-radius: 25px;
	transition: color .5s, background-color .5s;
	cursor: pointer;
	font-weight: bold;
}
#mainHeader button:hover {
	box-shadow: 0 1px 5px 1px white;
}	
#headerFlex {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 68%;
}
#headerFlex div {
	font-size: 18px;
	font-family: "Poppins";
	margin: 83px 0 168px 0;
	width: calc(100%/3);
}
#headerFlex img {
	margin-bottom: 22px;
}
/*Header section---------------------------------------------------------------------------------------------------------*/
#section2LeftImage {
	margin: 119px 0 145px 38px;
}
.about-us-right {
	position: absolute;
	top: 192px;
	left: 525px;
	width: 654px;
	background-color: white;
	box-shadow: 3px 3px 3px 3px rgb( 250, 250, 250 );	
	padding-top: 88px;
	letter-spacing: 1px;
	background-image: url( 'img/01.png' );
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 5px 5px;	
}
.about-us-right div:first-child {
	padding-left: 84px;
	font-size: 50px;
	font-family: "LibreBaskerville";
	color: rgb(49, 49, 49);
	font-weight: bold;
}
.about-us-right div:nth-child( 2 ) {
	padding: 28px 70px 87px 83px;
	font-size: 16px;
	font-family: "MyriadPro";
	color: rgb(97, 97, 97);
	color: blue;
	line-height: 173%;
}
.about-us-right div:last-child {
	font-size: 0;
}
.about-us-right img {
	width: 654px;
	height: 3px;
}
.services {
	background-image: url( 'img/02.png' );
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 803px 7px;
	background-color: rgb(247, 247, 247);
	text-align: center;
}
.services .sectionArea{
	padding-left: 13px;
	padding-bottom: 144px;
}	
.services-title {
	margin-left: 9px;
	padding-top: 139px;
	font-size: 50px;
	font-family: "LibreBaskerville";	
	font-weight: bold;
	color: rgb( 50, 50, 50 );
}
.services-title2 {
	margin-left: 10px;
	padding-top: 20px;	
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	margin-bottom: 70px;
}
.serviceBlock {
	text-align: center;
	margin: 5px 12px 5px 12px;
	display: inline-block;
	width: 263px;
	padding-top: 130px;
	background-color: white;
}	
#firstServiceBlock:before {
	content: url( 'img/focus-img1.png' );
	position: absolute;
	top: -65px;
	left: 103px;
}
#secondServiceBlock:before {
	content: url( 'img/focus-img2.png' );
	position: absolute;
	top: -69px;
	left: 106px;
}
#thirdServiceBlock:before {
	content: url( 'img/focus-img3.png' );
	position: absolute;
	top: -66px;
	left: 107px;
}
#fourthServiceBlock:before {
	content: url( 'img/focus-img4.png' );
	position: absolute;
	top: -65px;
	left: 113px;
}
.serviceBlock div:first-child {
	font-size: 20px;
	font-family: "Poppins";
	color: rgb(49, 49, 49);
	position: relative;
}
.serviceBlock div:nth-child(2) {
	padding: 22px 10px 62px 10px;
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.667;
}
.serviceBlock div:last-child {
	font-size: 0;
}	
.serviceBlock div:last-child img {
	width: 263px;
	height: 3px;
}
.videoBox {
	background-image: url( 'img/video.jpg' );		
	color: rgb( 248, 249, 253 );
}
.videoBox div:first-child {	
	font-size: 30px;
	font-family: "Poppins";	
	padding: 139px 0 0 15px;
}	
.videoBox div:nth-child(2) {	
	padding: 26px 0 0 14px;
}	
.videoBox div:last-child {
	font-family: "Poppins";	
	font-size: 15px;
	padding: 32px 0 146px 15px;
}	
.portfolio {
	text-align: center;	
	background-image: url( 'img/03.png' );
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 448px 4px;	
}
.portfolio-title {
	padding: 137px 0 0 20px;
	letter-spacing: 1px;
	font-size: 50px;
	font-family: "LibreBaskerville";	
	font-weight: bold;
	color: rgb( 49, 49, 49 );
}
.portfolio-title2 {
	padding: 20px 0 0 18px;
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
}
#portfolioBox {
	padding-left: 37px;
	margin-top: 66px;
	margin-bottom: 133px;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;	
}
#portfolioBox img {
	margin: 10px;
}	
.team {
	background-color: rgb(247, 247, 247);
	background-image: url( 'img/04.png' );
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 790px 9px;
	text-align: center;
	overflow: auto;
}
.team-title {
	padding: 141px 0 0 8px;
	font-size: 50px;
	font-family: "LibreBaskerville";
	font-weight: bold;
}
.team-title2 {
	padding: 19px 0 62px 16px;
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
}
.team-group {
	margin-left: 17px;
}
.team-block {
	display: inline-block;
	margin: 13px;
	font-size: 0;
}
.team-block div:last-child {
	font-size: 0;
}	
.team-block div:last-child img {
	width: 263px;
	height: 3px;
}	
.team-block-title {
	font-size: 22px;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: bold;
	padding-left: 1px;
	padding-top: 10px;
}
.team-block-text {
	font-size: 15px;
	font-family: "Poppins";
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 14px;
}
.team-links {
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.2;
}
.team-detail {
	width: 1141px;
	background-color: white;
	height: 351px;
	margin: 37px 0 148px 37px;
}
.stats-section {
	background-image: url( 'img/Statsbg.png' );
}
.stats {
	text-align: center;
	padding: 145px 0 123px 19px;
}
.stats-block {
	display: inline-block;
	text-align: center;
	margin: 0 80px 0 80px;
	font-size: 0;
}
.stats-block:first-of-type img {
    margin-left: 5px;
    margin-top: 0px;
}	
.stats-block:first-of-type div:first-of-type {
	margin: 0 -7px 0 0;
}	
.stats-block:last-of-type img {
    margin-left: -22px;
    margin-top: 3px;
}	
.stats-block:last-of-type div:first-of-type {
	margin: 0 23px -2px 0;
}	
.stats-block:last-of-type div:nth-of-type(2) {}	
.stats-title {
      font-size: 20px;
      font-family: "Poppins";
      color: rgb(254, 254, 254);
      padding: 21px 0 0 0;
}
.stats-text {
	font-size: 15px;
	font-family: "Poppins";
	color: rgba(254, 254, 254, 0.702);
	padding-top: 15px;
	padding-bottom: 32px;
}
.work {
	background-image: url( 'img/05.png' );
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 437px 11px;
	padding-bottom: 150px;
}
.work-title {
	font-size: 50px;
	font-family: "LibreBaskerville";
	text-align: center;
	font-weight: bold;
	padding-top: 141px;
	padding-left: 12px;
	color: rgb(51,51,51);
}
.work-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	text-align: center;
	padding: 19px 0 125px 14px;
}
.work-step {
	text-align: center;
	font-size: 0px;
	padding-left: 15px;
}
.work-step-info {
	width: 458px;
	position: absolute;
	left: 38px;
	top: -51px;
	background-color: white;
	box-shadow:  2px 2px 2px 2px rgb( 200, 200, 200 );
}
.work-step:nth-of-type(2n) .work-step-info {
	left: 720px;
}	
.inner-text {
	font-size: 15px;
	margin-left: 100px;
	text-align: left;
	font-family: 'Poppins';
	padding: 70px 49px 45px 25px;
	width: 284px;
	line-height: 180%;
}	
.inner-text div {
	font-size: 25px;
	padding-bottom: 19px;
}	
.work-step:nth-child( 4 ) .inner-text {
	padding: 46px 49px 71px 25px;
}	
.work-step:nth-child( 5 ) .inner-text {
	padding: 47px 49px 70px 25px;
}	
.work-step:nth-child( 6 ) .inner-text {
	padding: 45px 49px 70px 25px;
}	
.work-step-info img:first-child {
	margin: 40px 0 0 37px;
	float: left;
}	
.work-step:nth-child( 4 ) .work-step-info img:first-child {
	margin: 40px 0 0 32px;
	float: left;
}	
.work-step:nth-child( 5 ) .work-step-info img:first-child {
	margin: 40px 0 0 33px;
	float: left;
}	
.work-step:nth-child( 6 ) .work-step-info img:first-child {
	margin: 40px 0 0 32px;
	float: left;
}	

.work-step div img:last-child {
	width: 100%;
	height: 3px;
}
.price {
	padding-left: 17px;
	background-image: url( 'img/06.png' );
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 448px 6px;
	padding-bottom: 151px;
}
.price-block-title {
	font-size: 50px;
	font-family: "LibreBaskerville";
	font-weight: bolder;
	padding-top: 138px;
	padding-right: 2px;
	letter-spacing: 1px;
}
.price-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	text-align: center;
	padding: 19px 0 61px 1px;
}
.price-block {
	display: inline-block;
	margin: 13px;
	background-color: white;
}

.price-block div img:first-child {
	width: 361px;
	height: 3px;
}	
.price-block-header {
	font-size: 20px;
	font-family: 'Poppins';
	font-weight: bold;
	padding-top: 27px;
}	
.price-block-month {
	padding-top: 47px;
	color: white;
	font-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Poppins';
}
.price-block-month div {
	font-size: 13px;
	margin-top: -6px;
	padding-bottom: 31px;
}	
.price-block:nth-of-type(3n) .price-block-month {
	background-image: url( 'img/bgGreen.png' );
	background-position: 125px 17px;
}	
.price-block:nth-of-type(4n) .price-block-month {
	background-image: url( 'img/bgRed.png' );
	background-position: 122px 18px;
}	
.price-block:nth-of-type(5n) .price-block-month {
	background-image: url( 'img/bgP.png' );
	background-position: 122px 18px;
}	
.price-block-text {
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
	margin-top: 27px;
	line-height: 272%;
}
.price-block button {
	font-size: 16px;
	font-family: "Poppins";
	margin: 24px auto;
	outline: none;
	background-color: white;
	padding: 10px 37px 11px 37px;
	font-weight: bold;
	border-radius: 28px;
	border-style: solid;
}
.testi {
	background-image: url( 'img/testi.jpg' );
	background-color: rgba( 10, 10, 10, 1);
}
.testi-block-title {
	font-size: 50px;
	font-family: "LibreBaskerville";
	padding-top: 136px;
	font-weight: bolder;
	padding-left: 438px;
	color: white;
	z-index:  10;
	background-image: url( 'img/07.png' );
	background-position: 451px 6px;
	background-repeat: no-repeat;
	padding-bottom: 5px;
}
.testi-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	padding: 15px 0 75px 340px;
	color:  white;
}
.testi .sectionArea>img {
	margin-left: 38px;
	margin-bottom: 147px;
}
.testimonials-text {
	margin-top: 44px;
	background-image: url( 'img/”.png' );
	display: inline-block;
	vertical-align: top;
	width: 675px;
	text-align: left;
	font-size: 15px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);
	line-height: 1.8;
	margin-left: -4px;
	background-color:  white;
	padding: 35px 24px 0 55px;
	background-repeat: no-repeat;
	background-position: 15px 0;
}
.testimonials-text div:last-child {
	margin-left: -55px;
}
.testimonials-text img {
	width: 754px;
	height: 3px;
	padding: 0;
	margin: 0;
}
.testimonials-client {
	font-size: 40px;
	font-family: "Sacramento";
	color: rgb(39, 39, 39);
	padding-top: 21px;
}
.testimonials-name {
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(39, 39, 39);
    font-weight: bold;
    margin-top: -12px;
    margin-left: -2px;
}
.testimonials-founder {
	font-size: 13px;
	font-family: "Poppins";
	color: rgb(252, 95, 69);
	margin-left: -2px;
	margin-top: -1px;
	padding-bottom: 31px;
}
.selectUs-block-title {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
}
.selectUs-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);	
}
.selectUs-block {
	border: 1px solid grey;
	width: 300px;
	text-align: left;
	display: inline-block;
	padding: 15px 0 0 15px;
}
.selectUs-block img {
	float: left;
}
.selectUs-block span {
	vertical-align: top;	
	font-weight: bold;
}
.selectUs-block div {
	clear: both;
}
.blog-block-title {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);	
}
.blog-block-title2 {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(97, 97, 97);	
}
.blog-group {
	columns: 2;
}
.blog-box {
	text-align: left;
	padding: 35px;
}
.blog-box img {
	width: 100%;
	height: 3px;
}
.blog-article-header {
	font-size: 18px;
	font-family: "Poppins";
	color: rgb(39, 39, 39);
}
.blog-article-header {
	font-size: 15px;
	font-family: "Poppins";
}
.blog-author {
	font-size: 15px;
	font-family: "Poppins";
}
.blog-date {
	font-size: 13px;
	font-family: "Poppins";
}
.subscribe form input:last-child {
	text-align: center;
}
.contact form {
	width: 700px;
	margin: 0 auto;
}
.contact form input:last-child {
	text-align: center;
}
.contact address {
	background-color: rgb( 64, 64, 74 );
	border: 1px solid red;
	width: 1000px;
	margin: 0 auto;
	font-size: 0;
}
.adrress-box {
	text-align: left;
	display: inline-block;	
	width: 24.5%;
	border: 1px solid white;
	vertical-align: top;
	font-size: initial;
}
.adrress-box img {
	clear: both;
}	
.contact address img:last-image {
	width: 1000px;
	height: 3px;
}